<div class="row">
  <div class="col-lg-12">
    <h3>Expense form</h3>
    <hr>

    <form #form="ngForm" (submit)="onSubmit()">
      <div class="form-group mb-4">
        <label for="description" class="bold">Description</label>
        <input type="text"
               class="form-control" 
               name="description" 
               id="description" 
               aria-describedby="description expense" 
               placeholder="Enter description expense"
               [(ngModel)]="expense.description"
               #description="ngModel"
               [ngClass]="{
                            'is-valid': description.dirty && !description.errors, 
                            'is-invalid': description.dirty && description.errors
                          }"
               required>
        <div class="invalid-feedback animate__animated animate__fadeInDown">
            required
        </div>
      </div>
      <div class="form-group mb-4">
        <label for="description" class="bold">Spent money</label>
        <input type="number" 
               class="form-control" name="budget" 
               placeholder="Enter the spent money."
               [(ngModel)]="expense.cash"
               min="1"
               #cash="ngModel"
               [ngClass]="{
                            'is-valid': cash.dirty && !cash.errors, 
                            'is-invalid': cash.dirty && cash.errors
                          }"              
               required>
        <div class="invalid-feedback animate__animated animate__fadeInDown">
            Invalid cash
        </div>
      </div>
      <button type="submit" 
                    [disabled]="form.invalid"
                    class="btn btn-lg btn-secondary w-100 btn-block">
                 Register
      </button>
    </form>
  </div>
</div>

