<div class="container my-5">
  <h2 class="title">Budget</h2>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <form #form="ngForm" (submit)="ngSubmit()">  
            <div class="form-group mb-4">
              <input type="number" 
                     class="form-control form-control-lg" name="budget" 
                     placeholder="Enter your budget."
                     [(ngModel)]="budget"
                     min="1"
                     #cBudget="ngModel"
                     [ngClass]="{
                                  'is-valid': cBudget.dirty && !cBudget.errors, 
                                  'is-invalid': cBudget.dirty && cBudget.errors
                               }"              
                     required>
              <div class="invalid-feedback animate__animated animate__fadeInDown">
                  Invalid budget
              </div>
            </div>
            <button type="submit" 
                    [disabled]="form.invalid"
                    class="btn btn-lg btn-secondary w-100 btn-block">
                 Enter
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>